<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @Comment.post %>
</p>

<p>
  <strong>Body:</strong>
  <%= @Comment.body %>
</p>

<%= link_to 'Edit', edit_comment_path(@Comment) %> |
<%= link_to 'Back', comments_path %>
